RewriteEngine On

# Redirect Trailing Slashes If Not A Folder
RewriteCond %{REQUEST_FILENAME} !-d

# Front Controller
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

# HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

# Restrict Access
<Files Environment.php>
    Order allow,deny
    Deny from all
</Files>

<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^(CascadePHP|app|vendor) - [F]
</IfModule>